<footer class="%class%">
    <p>&copy; 2025 - Page designed by Barreiro Hub</p>
    <figure>
        <a href="https://validator.w3.org/check?url=referer" id="validation_link_html" target="_blank">
            <img src="images/html5-validator-badge.png" alt="HTML 5 validator">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css" target="_blank">
            <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="CSS validator">
        </a>
        <a href="https://wave.webaim.org/report#/referer" id="validation_wcag" target="_blank">
            <img src="https://wave.webaim.org/img/wavelogo.svg" alt="Wave Web Accesibility Evaluation Tool">
        </a>
    </figure>
    <script src="scripts/validation.js"></script>
</footer>