<header>
    <nav>
        <a href="index.html" class="logo">
            <figure>
                <img src="images/logoSBCoachSmall.jpeg" alt="Logo SBCoach">
                <figcaption>SBCoach</figcaption>
            </figure>
        </a>
        <ul class="nav-links">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="sobre_mi.html">Sobre mi</a></li>
            <li><a href="faq.html">FAQ</a></li>
        </ul>
    </nav>
</header>