<footer>
    <section>
        <h4>Other links</h4>
        <ul>
            <li><a href="https://www.linkedin.com/in/diana-barreiro-634418303/" target="_blank" class="linkedin">Linkedin</a></li>
            <li><a href="https://github.com/dbarreir/dbarreir.github.io" target="_blank" class="github">GitHub</a></li>
            <li><a href="https://dbarreir.github.io/" target="_blank" class="github-io">GitHub.io</a></li>
        </ul>
    </section>
    <p>
        Page built by <a href="barreirohub.org/index.html">Barreiro Hub</a> &copy;2025
    </p>
    <p>
        <a href="https://www.freecodecamp.org/certification/dbarreir/responsive-web-design" target="_blank">
            <i>Certified in Responsive Web Design</i>
        </a>
    </p>
    <figure>
        <a href="https://validator.w3.org/check?url=referer" id="validation_link_html" target="_blank">
            <img src="images/html5-validator-badge.png" alt="HTML 5 validator">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css" target="_blank">
            <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="CSS validator">
        </a>
    </figure>
    <script src="scripts/validation.js"></script>
</footer>