<header>
    <h1>Diana Barreiro Gonsalve's Delightful Bear <i class="graduation-cap"></i> ITIS 3135</h1>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="byo_intro.html">BYO Intro</a></li>
            <li><a href="contract.html">Contract</a></li>
            <li><a href="tables.html">HTML Tables</a></li>
            <li><a href="forms.html">HTML Forms</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="project-overview.html">Project Overview</a></li>
            <li><a href="review1.html">Review 1</a></li>
            <li><a href="review2.html">Review 2</a></li>
            <li><a href="slideshow.html">Slideshow</a></li>
            <li><a href="website_evaluations.html">Website Evaluation</a></li>
        </ul>
    </nav>
    <nav class="secondary">
        <ul>
            <li><a href="stuff/SOME& THING.htm">Crappy Site</a></li>
            <li><a href="hobby/index.html">Hobby</a></li>
            <li><a href="../sbcoach/index.html">Client Project</a></li>
        </ul>
    </nav>
</header> 